body {
  font-family: Barlow;
}

/*  Genel Layout Ayarları */
.order-section {
  display: flex;
  max-width: 590px; 
  width: 100%; 
  margin: 0 auto; 
  justify-content: left;
  align-items: center;
  flex-direction: column;
}

/* Baslık altı H1, FİYAT VE ÜRÜN ACIKLAMASI PARAGRAF */
.order-fiyat {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 37px;
  width: 100%;
  margin-top: 10px; 
}

.order-fiyat-stock p {
  display: inline-block;
  margin-left: 5rem;
}


.pizza-name {
  align-self: flex-start; 
  font-weight: 600;
  font-size: 22px;
  margin: 1rem 0;
}

.pizza-fiyati-p {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 2rem;
}

.order-fiyat-stock p {
  color: #5F5F5F;
  font-weight: 400;
  font-size: 16px;
}

.ürün-aciklama {
  color: #5F5F5F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  margin-bottom: 2rem;
}

/* Ürün boyutunu seçme kısmı */

.h3-aciklamalar {
  color: #292929;
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.h3-hamur {
  margin-bottom: 1rem;
}

.boyut-sec {
  font-family: Barlow;
  font-weight: 500;
  font-size: 16px;
  color: #5F5F5F;
  font-style: normal;
}

.order-options {
  width: 100%;
  display: flex;

}

.order-options-size {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 50%;
}

.order-options-size label {
  margin-left: 1rem;
}

/* Malzeme Seçim kısmı */
.malzeme-container {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  margin-bottom: 8rem;
  margin-top: 2rem;
}

.malzeme-paragraph {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.malzeme-paragraph h3 {
  color: #292929;
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.malzeme-paragraph p {
  color: #5F5F5F;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

/* Malzemelerin renklerini değiştirme */
.malzeme-options label {
  color: #5F5F5F;
  color: #5F5F5F;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  }


.malzeme-options input[type="checkbox"] {
  margin-right: 1rem; /* Checkbox ve label arasındaki boşluk */
}

.malzeme-options {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  max-height: 200px;
  width: 100%;
}


/* Siparis notu ve input alanı */
.siparis-notu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.siparis-notu-container input[type="text"] {
  border-radius: 6px;
  border: 1px solid #D9D9D9;
  padding: 1.5rem;
  cursor: pointer;
  margin-bottom: 2rem;
}

hr {
  border: 1px solid rgba(95, 95, 95, 0.50); /* veya istediğiniz bir renk */
  margin: 20px 0; /* istediğiniz boşluk */
  width: 100%;
  margin-bottom: 2rem;
}

/* Siparis sayisini arttir azalt kısmı ve siparis fiyat toplam kısmı */

.siparis-toplami-container {
  width: 100%;
  display: flex;
}

.siparis-quantity-btn {
  display: flex;
  align-items: flex-start;
  margin-right: 63px;
}

.siparis-quantity-btn button{
  background-color: #FDC913;
  padding: 1rem 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.quantity-display {
  min-width: 2rem;
  border: 1px solid #D9D9D9;
  padding: 0.9rem 1.5rem;
}


/* Sipariş Ver, Toplam,seçim componenti */

.siparis-calc-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 259px;
  margin-bottom: 8rem;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
}

.siparis-calc-wrapper {
  width: 100%;
}

.siparis-calc-wrapper p{
  display: inline-flex;
  margin-left: 3rem;
  margin-top: 1rem;
}

.siparis-p1 {
  margin-top: 0.5rem;
  color: #292929;
  font-family: Barlow;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.siparis-p2 {
  margin-right: 8rem;
}

.siparis-secim p {
  color: #5F5F5F;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.siparis-toplam {
  color: #CE2829;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.siparis-toplam {
  margin-bottom: 2rem;
}

.siparis-calc-wrapper button{
  width: 100%;
  border-radius: 6px;
  background: #FDC913;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  color: #292929;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}








